/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/


/* Content area at media query tablet and desktop */

.single-product, .post-type-archive-product, .page-template-find-us, .tax-product_type {
  @include tablet {
    .site-content {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6) 0,
        rgba(0, 0, 0, 0.27)
      ), url(../../assets/black-steel.jpg);
      .content-area {
        width: 80%;
        margin: 0 auto;
        background: black;
      }
    }
  }
}


/* Posts and pages */

.no-results {
  .page-content {
    display: none;
  }
}

.sticky {
  display: block;
}


.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
