







.site-info {
  height: 220px;
  color: white;
  
}

.footer-info {
  .footer-wrapper {
    border-top: 1px solid rgb(165, 123, 58);
    .footer-contact-banner {
      p {
        font-size: 14px;
        @include tablet {
          font-size: 1rem;
        }
        i {
          color: rgb(180, 174, 162);
        }
        a {
          text-decoration: none;
          color: #A57B3A;
          font-family: 'Ubuntu', sans-serif;
        }
      }
    }
  }
}

@include tablet {
  .footer-logo-wrapper {
      width: 150px;
      margin: auto 0;
  }

}

.info-logo-wrapper {
    display: flex;
    justify-content: space-around;
}

.copyright {
    text-align: center;
    padding-bottom: 1rem;
}

