.page-template-archive-product {
  background: linear-gradient(rgb(65, 64, 64), black);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .site-main {
    padding-top: 10rem;
    // width: 1120px;
    margin: 0 auto;
  }
}

.page-title {
  font-family: 'Ubuntu', sans-serif;
  color: rgba(255, 195, 85, 0.452);
  font-size: 4rem;
  text-align: center;
}

$galleryColor: rgba(253, 253, 253, 0.452);

.shop-term-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
  a {
    font-family: 'Ubuntu', sans-serif;
    color: rgba(255, 195, 85, 0.452);
    font-size: 1.3rem;
    @include tablet {
      font-size: 1.7rem;
    }
    @include desktop {
      font-size: 2rem;
    }
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: rgba(247, 183, 64, 0.925);
    }
  }
}

.single-term-description {
  font-size: 1.8rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: rgba(255, 195, 85, 0.452);
  border-bottom: 10px rgba(253, 253, 253, 0.452), groove;
}

.product-container {
  padding-top: 3rem;
  border-top: dashed 2px rgba(255, 195, 85, 0.452);
  display: flex;
  flex-wrap: wrap;
  border-top: 1px dashed rgba(255, 195, 85, 0.452);
  .product-archive {
    img {
      border-radius: 25%;
      height: 300px;
      width: auto;
    }
  }
}

.archive-product-info {
  text-align: center;
  color: rgba(255, 195, 85, 0.452);
}


.single-product-title {
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(85, 85, 238);
}


//Floral design above the footer

.floral-deco-container {
  height: 25vh;
  background: url(../../assets/floral-deco.png) no-repeat;
  background-position: center;
  background-size: 93%;
  transform: rotate(180deg);
  background-position-y: 45%;
  @include tablet {
    height: 15vh;
  }
  @include desktop {
    height: 25vh;
  }
  

}

.home .floral-deco-container {
  height: 25vh;
  background: url(../../assets/floral-deco.png) no-repeat;
  background-position: center;
  background-size: 93%;
  transform: rotate(180deg);
  background-position-y: 45%;
  @include tablet {
    height: 25vh;
  }
  @include desktop {
    height: 50vh;

  }
}
