// .home {
//   margin-top: 32px;
// }

.banner {
  display: relative;
  .sisters {
    height: 74vh;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.1) 0,
        rgba(0, 0, 0, 0.2)
      ),
      url(../../assets/logo.svg) fixed no-repeat,
      url(../../assets/stainless.jpg) fixed no-repeat;
    background-position: 22%;
    background-size: 100%, 515px;
    .contact-banner {
      position: absolute;
      top: 180px;
      right: 300px;
      list-style: none;
      .fas {
        color: black;
      }
      .underline {
        text-decoration: none;
        font-size: 2rem;
        color:rgb(104, 31, 30);
      }
    }
  }
}

.slogan {
  height: 100px;
  justify-content: center;
  
  border-bottom: red 1px solid;
  .main-carousel {
    ol {
      display: none;
    }
    h2 {
      text-align: center;
      color: rgba(255, 195, 85, 0.452);
    }

  }
}

.article-wrapper {
  @include container-block;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
