// .home {
//   margin-top: 32px;
// }

.banner {
  display: relative;
  .sisters {
    height: 74vh;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.1) 0,
        rgba(0, 0, 0, 0.2)
      ),
      url(../../assets/logo.svg) fixed no-repeat,
      url(../../assets/stainless.jpg) fixed no-repeat;
    background-position: 22%;
    background-size: 100%, 515px;
    .contact-banner {
      position: absolute;
      top: 325px;
      right: 530px;
      list-style: none;
    }
  }
}

.slogan {
  height: 200px;
  h2 {
    text-align: center;
  }
}
