.header-logo {
  height: 60px;
  transition: height 0.3s ease-in-out;
  &:hover {
    height: 70px;
  }
}

.main-navigation {
  display: flex;
  justify-content: space-around;
  background: transparent;
  opacity: 0.7;
  height: 6.3rem;
  position: fixed;
  z-index: 1000;
}

.navigation-options {
  align-self: center;
  padding-left: 3rem;
  ul {
    li {
      padding-right: 2rem;
      a {
        font-weight: 400;
        font-size: 1.7rem;
        color: black;
        transition: font-size 0.3s ease-in-out;
        &:hover {
          font-size: 1.9rem;
        }
      }
    }
  }
}
nav.nav-top {
  background: rgba(0, 0, 0, 0.788);
  li {
    a {
      color: white;
    }
  }
}

.site-branding {
  margin: auto 0;
}

.main-carousel .carousel-cell {
  width: 100%;
}
