.archive {
  background: linear-gradient(rgb(65, 64, 64), black);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .site-main {
    padding-top: 10rem;
    margin: 0 auto;
  }
}

.page-title {
  font-family: 'Ubuntu', sans-serif;
  color: rgba(255, 195, 85, 0.452);
  font-size: 4rem;
  text-align: center;
}

.single-term-description {
  font-size: 1.8rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: rgba(255, 195, 85, 0.452);
  border-bottom: 10px rgba(255, 195, 85, 0.452) groove;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  .product-archive {
    img {
      border-radius: 25%;
      height: 300px;
      width: auto;
    }
  }
}
.archive-product-info {
  text-align: center;
  color: rgba(255, 195, 85, 0.452);
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @include container-block;
  grid-gap: 30px;

  .thumbnail-container {
    background-color: black;
    border-radius: 25%;
    height: 250px;
    overflow: hidden;
    position: relative;

    img {
      left: 50%;
      min-height: 250px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      &:hover {
        -webkit-filter: brightness(0.5);
        filter: brightness(0.5);
      }
    }
  }
}
